<%- include("../partials/header") %>
<form action="/skills" method="POST">
    <label>
        Skill Name:
        <input type="text" name="skill">
    </label>
    <br>
    <label>
        Skill Proficiency:
        <input type="radio" id="proficient" name="proficiency" value="Proficient">
        <label for="proficient">Proficient</label><br>
        <input type="radio" id="somewhat" name="proficiency" value="Somewhat Proficient">
        <label for="somewhat">Somewhat Proficient</label><br>
        <input type="radio" id="not" name="proficiency" value="Not Proficient">
        <label for="not">Not Proficient</label>
    </label>
    <br>
    <label>
        Skill Description:
        <input type="text" name="description">
    </label>
    <br>
    <input type="submit" value="Submit">
</form>
<%- include("../partials/footer") %>