<%- include("../partials/header") %>
<form action="/skills" method="POST">
    <label>
        Skill Name:
        <input type="text" name="skill">
    </label>
    <br>
    <label>
        Skill Proficiency:
        <label for="proficient"></label><input type="radio" id="proficient" name="proficiency" value="Proficient">
        Proficient</label>
        <label for="somewhat"><input type="radio" id="somewhat" name="proficiency" value="Somewhat Proficient">
       Somewhat Proficient</label>
        <label for="not">
<input type="radio" id="not" name="proficiency" value="Not Proficient">Not Proficient</label>
        </label>
    <br>
    <label>
        Skill Description:
        <input type="text" name="description">
    </label>
    <br>
    <input class="button" type="submit" value="Submit">
</form>
<%- include("../partials/footer") %>